<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{'cardContainer.updateCard' | translate}}</h4>
  <button type="button" class="btn close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="updateCardFormData" (ngSubmit)="updateCard()">
    <div class="form-group row">
      <div class="form-group col-md-6">
        <label class="form-label d-block">{{'createCard.labels.cardNameLabel' | translate}}:</label>
        <input type="text" formControlName="cardName" class="form-control" id="cardName"
          placeholder="{{'createCard.labels.cardNameLabel' | translate}}" autocomplete>
        <div *ngIf="form['cardName'].touched && form['cardName'].errors" class="alert alert-danger">
          <div *ngIf="form['cardName'].errors && form['cardName'].errors.required">
            {{'createCard.errorMessage.cardNameEmptyError' | translate}}
          </div>
          <div *ngIf="form['cardName'].errors && form['cardName'].errors.alphaNumeric">
            {{'createCard.errorMessage.cardNameInvalid' | translate}}
          </div>
          <div
            *ngIf="form['cardName'].errors && !form['cardName'].errors.required && form['cardName'].errors.minlength">
            {{'createCard.errorMessage.cardNameLengthError' | translate}}
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label d-block">
          {{'createCard.labels.cardDescLabel' | translate}}:</label>
        <input type="text" formControlName="cardDesc" class="form-control" id="cardDesc"
          placeholder="{{'createCard.labels.cardDescLabel' | translate}}">
        <div *ngIf="form['cardDesc'].touched && form['cardDesc'].errors" class="alert alert-danger">
          <div *ngIf="form['cardDesc'].errors && form['cardDesc'].errors.required">
            {{'createCard.errorMessage.cardDescEmptyError' | translate}}
          </div>
          <div
            *ngIf="form['cardDesc'].errors && !form['cardDesc'].errors.required && form['cardDesc'].errors.minlength">
            {{'createCard.errorMessage.cardDescLengthError' | translate}}
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label d-block">{{'createCard.labels.cardRenderTypeLabel' | translate}}:</label>
        <select formControlName="renderType" class="browser-default custom-select">
          <option *ngFor="let type of RENDER_TYPES" [value]="type.value">{{type.text}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label d-block">{{'createCard.labels.cardContentLabel' | translate}}:</label>
        <textarea formControlName="cardContent" rows="1" class="form-control" id="cardContent"
          placeholder="{{'createCard.labels.cardContentLabel' | translate}}"></textarea>
        <div *ngIf="form['cardContent'].touched && form['cardContent'].errors" class="alert alert-danger">
          <div *ngIf="form['cardContent'].errors && form['cardContent'].errors.required">
            {{'createCard.errorMessage.cardDescEmptyError' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label class="form-label d-block">{{'createCard.labels.image' | translate}}:</label>
        <ng-container *ngIf="cardDetails['imageUrl'] && cardDetails['imageUrl'].length; else uploadImage">
          <input type="text" formControlName="imageUrl" class="form-control" id="imageUrl"
            placeholder="{{'createCard.labels.upload_image' | translate}}">
          <div *ngIf="form['imageUrl'].touched && form['imageUrl'].errors" class="alert alert-danger">
            <div *ngIf="form['imageUrl'].errors && form['imageUrl'].errors.required">
              {{'createCard.errorMessage.cardDescEmptyError' | translate}}
            </div>
          </div>
        </ng-container>
        <!-- Upload Image -->
        <ng-template #uploadImage>
          <div class="">
            <app-upload-file [cardId]="cardDetails.cardId" (uploadResponseObj)="uploadResponse($event)">
            </app-upload-file>
          </div>
        </ng-template>

      </div>

      <div class="col offset-md-9 mt-2">
        <button [disabled]="!updateCardFormData.valid" type="submit"
          class=" btn btn-danger mr-3">{{'buttons.update' | translate}}</button>
        <button type="button" (click)="resetForm()" class=" btn btn-secondary">{{'buttons.clear' | translate}}</button>
      </div>
    </div>
  </form>
</div>