.footer-wrap {
  border-top: 1px solid #e3e6e8;
  position: relative;
}
// .footer-wrap img {
//   width: 40px;
// }
.footer-text {
  font-size: 13px;
  padding-left: 2px !important;
  color: gray;
}
.copyrights {
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
